objs/
dist/README-SDL.txt
dist/game.ilk
dist/game.pdb
dist/SDL2.dll
dist/game
dist/game.exe
dist/freetype-test
dist/freetype-test.*
scenes/show-meshes*
scenes/show-scene*
*.blend[0-9]
.vs/*
CppProperties.json
.idea/
cmake-build-*/
CMakeLists.txt
hb_example.cpp
.clangd/
.vscode/
compile_commands.json
level-data/wingperson.tiled-session
scenes/pack-text.ilk
scenes/pack-text.pdb
scenes/pack-text.ilk
scenes/pack-text.pdb
scenes/pack-text.ilk
scenes/pack-text.pdb
scenes/pack-text.exe
level-data/pack-level.pdb
level-data/pack-level.ilk
level-data/pack-level.exe
.vscode/c_cpp_properties.json
scenes/tld_levels.tmx
scenes/pixel.tsx
